html {
  font-size: 22px;
}

body {
  background-color: #333;
  color: whitesmoke;
}

a {
  color: aliceblue;
}

a:visited {
  color: lightgrey;
}

a:hover,
a:active {
  color: #eee;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

.alinhar {
  display: flex;
  column-gap: 100px;
  align-items: center;
  flex-wrap: wrap;
}

.captions {
  display: flex;
  padding-left: 30px;
  margin-left: 30px;
}

.c2 {
  padding-left: 50px;
  margin-left: 50px;
}

.c3 {
  padding-left: 200px;
  margin-left: 200px;
}

.container {
  padding-left: 20px;
  margin-left: 20px;
}

mark {
  background-color: red;
}

details {
  padding-left: 20px;
  margin-left: 20px;
}
